<div class="comment">
  <% if comment.body? %>
    <p><%= comment.body %></p>
    <small>
      <i>
        submitted <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %>
        by <%= comment.user.name %>
      </i>
      <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
      <% if policy(comment).destroy? %>
        | <i><%= link_to "delete", [@topic, @post, comment], method: :delete %>
      <% end %>
    </i>
    </small>
  <% end %>
</div>
