<h1><%= @post.title %></h1>
<% if @post.summary %>
  <h3>post summary: <%= @post.summary.description %> </h3>
  <%= link_to "edit summary for the post", edit_topic_post_summary_path(@topic, @post, @summary) %>


<% else %>
  <%= link_to "create summary for the post", new_topic_post_summary_path(@topic, @post) %>
<% end %>
<br>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
