<!DOCTYPE html>
<html>
<head>
  <title>postyboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "postyboard", root_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "topics", topics_path %></li>
        <li><%= link_to "posts", posts_path %></li>
        <li><%= link_to "users", users_path %></li>

        <div class="pull-right user-info">
            <% if current_user %>
             <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
              hello <%= link_to (current_user.name || current_user.email), current_user %>!
                <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-log-out"></span>
              <% end %>

             <% else %>
               <%= link_to "sign in", new_user_session_path %> or
               <%= link_to "sign up", new_user_registration_path %>
             <% end %>
        </div>


      </ul>

      <div id="flashnotice" tabindex="1"><%= render partial: 'layouts/flash', locals: { flash: flash } %></div>

  <%= yield %>
    </div>

  </body>
</html>
